<div class="form-wrapper">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form-container">
    <mat-card class="form-card">
      <mat-card-title class="form-title">Sign Up</mat-card-title>
      <mat-card-content class="form-content">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>UserName</mat-label>
          <input matInput name="UserName" formControlName="UserName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput name="Email" formControlName="Email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput name="PasswordHash" formControlName="PasswordHash" type="PasswordHash">
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>RoleName</mat-label>
          <mat-select formControlName="RoleName">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="student">Student</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="submit-button">
          Sign Up
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>