/* -----button-------  */

.button-primary {
    background-color: black;
    color: yellow;
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.button-secondary {
    background-color: black;
    color: white;
    border-color: white;
    box-shadow: 0 0 10px white;
}


.button-primary:hover {
    box-shadow: 0 0 20px yellow;
    background-color: yellow;
    color: black;
}

.button-secondary:hover {
    box-shadow: 0 0 20px white;
    background-color: white;
    color: black;
}

/*----cards----*/
.cards-section {
    padding: 80px 20px;
    text-align: center;
    background-color: #111;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.cards-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.cards-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px yellow;
}




/*------form-------*/

/* Center the form */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*------input fields-----*/

.custom-input .MuiOutlinedInput-root {
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background-color: #333;
    color: white;
    border-radius: 8px;
}

.custom-input .MuiOutlinedInput-root:hover fieldset {
    border-color: white !important;
}

/* Style the labels */
.custom-input .MuiInputLabel-root {
    color: white !important;
}

.custom-input .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color:white !important;
}

.custom-input .MuiOutlinedInput-root.Mui-focused {
    background-color: #444;
}

.custom-input .MuiFormHelperText-root {
    color: white !important;
    font-size: 12px;
}



/*----Arrow Button-----*/

.ArrowButton {
    bottom: 20px;
    transform: translateX(-50%);
    color: #FFD700;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}